window {{
	background-color: {color0};
	opacity: 0.9;
	color: {color1};
	border-radius: 20px;
}}

#input {{
	background-color: {color0};
	opacity: 0.9;
	color: {color1};
	border-radius: 20px;
	margin: 10px;
}}

#scroll {{
	margin: 10px;
}}
